@tailwind base;
@tailwind components;
@tailwind utilities;
/* Add any global styles you need */
body {
  font-family: "Arial", sans-serif;
}

/* Modal Overlay (background) */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Dark background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* Ensure modal is on top of content */
}

/* Modal Content */
.modal-content {
  position: relative;
  background: white;
  padding: 20px;
  width: 80%;
  max-width: 600px;
  border-radius: 8px;
  z-index: 1001; /* Ensure modal content is above overlay */
}

/* Make modal body scrollable */
.modal-body {
  max-height: 400px; /* Set a height limit for the scroll */
  overflow-y: auto; /* Enable vertical scrolling */
}

.active {
  color: #0d9488;
}
